/* set these for the app's branding */
:root {
  --background-color: #181818;
  --app-color: #212121;
  --panel-color: #212121;
  --table-background: #202020;
  --app-text: rgba(255,255,255,0.85);
  --border-color: rgba(255,255,255,0.2);
}

/* recolor basic elements */
body, h3, table td, table th, textarea, code, label, input, select {
  color: var(--light-text);
}

table, table td, table th {
  border: 1px solid var(--light-text);
}

input:focus, textarea:focus, code:focus {
  color: var(--light-text);
}

.material-icons.md-dark {
  color: var(--light-text);
}

.facets {
  color: var(--light-text);
  h1 {
    color: var(--light-text);
  }
  .size {
    border-color: var(--light-text);
  }
}

.input input:not(:focus) + label, .input.large input:not(:focus) + label {
  color: rgba(255, 255, 255, 0.5);
}
.input.large input:not(:placeholder-shown):not(:focus) {
  border-bottom: 1px solid var(--light-text);
}

.panel div.select.large > select, div.select.large > select, .select.large > select {
  line-height: 2.6;
  padding: 1.5rem 0.5rem 0 0.75rem;
  font-size: 1.25rem;
}

.panel div.select > select, div.select > select, .select > select {
  color: var(--light-text);
}

.panel div.select > label, div.select > label, .select > label {
  color: rgba(255, 255, 255, 0.5);
}

.panel div.select, div.select, .select {
  border-bottom: 1px solid var(--light-text);
}

.panel {
  .menu ul {
    background-color: var(--panel-color);
    li:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.input input, .input.large input, input, .select > select, .select.large > select {
  border-bottom: 1px solid var(--light-text);
}

/* fix shadow on panel */
.panel, .box, .card, dialog, .splash {
  background-color: var(--app-color);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  border: none;
}

dialog {
  color: var(--light-text);
  h1, h2, h3, h4, h5, h6 {
    color: var(--light-text);
  }
}

/* recolor hamburger */
.menu {
  font-size: 1rem;
  color: var(--light-text);
  top: -1rem;
  background-color: rgba(0, 0, 0, 0.85);

  i.material-icons.md-dark {
    color: rgba(255, 255, 255, 0.55);
  }
  div:first-child {
    color: var(--secondary-color-light);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  div.spacer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  div:hover {
    background-color: var(--secondary-color-dark);
  }
}

table {
  &.material {
    background-color: var(--table-background);

    td, td.label, th, input, td input, caption, select {
      color: var(--light-text);
    }

    td, th {
      color: var(--app-text);
      border-bottom: 1px solid rgba(255,255,255, 0.1);
      &:hover {
        color: var(--app-text);
        background-color: var(--secondary-color-dark);
      }
    }
  }
}

a {
  color: var(--secondary-color-light);
}
.list {
  i {
    color: rgba(255,255,255, 0.5);
  }
}

.leftNav {
  border-right: 1px solid rgba(255,255,255,0.5);
  > div {
    color: rgba(255,255,255, 0.5);
    i.material-icons.md-dark {
      color: rgba(255,255,255, 0.5);
    }

    &.label {
      color: rgba(255,255,255, 0.75);

      i.material-icons.md-dark {
        color: rgba(255,255,255, 0.75);
      }

      &:hover {
        background-color: inherit;
      }
    }
    &:hover {
      background-color: rgba(0,0,0,0.25);
    }
  }
}

dialog button, button {
  border: none;
  color: var(--primary-color-light);

  &:hover {
    background-color: rgba(255,255,255,0.25);
    color: var(--primary-color-light);
  }
}

a {
  color: var(--secondary-color);
  &:hover {
    color: var(--secondary-color-light);
  }
  &:visited {
    color: var(--secondary-color);
  }
}

ul li:hover, ol li:hover {
  background-color: var(--secondary-color-dark);
}

dialog.about {
  h1 {
    color: var(--primary-color-light);
  }
}

.barChart {
  border-color: var(--light-text);

  td.label p, &.horizontal td.label p {
    color: var(--light-text);
  }

  &.vertical td {
    border-color: rgba(255,255,255,0.4);

    background: repeating-linear-gradient( to bottom, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 1px, transparent 1px, transparent 5% );
  }

  > tbody:nth-child(2) {
    > tr:nth-child(1) > td:nth-child(2) {
      border-left: 1px solid rgba(255,255,255,0.4);
    }
    > tr > td:last-of-type {
      border-right: 1px solid rgba(255,255,255,0.4);
    }
  }

  &.horizontal {
    td {
      background: repeating-linear-gradient( to right, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 1px, transparent 1px, transparent 5% );
    }
    > tbody:nth-child(2) {
      > tr:nth-child(1) > td:nth-child(2) {
        border-top: 1px solid rgba(255,255,255,0.4);
      }

      > tr:last-of-type > td:nth-child(2) {
        border-bottom: 1px solid rgba(255,255,255,0.4);
      }

      > tr > td:nth-child(2) {
        border-left: 1px solid rgba(255,255,255,0.4);
      }
    }
  }
}
